body {
	width: 95%;
	margin: 38vh auto;
	background: rgb(30, 30, 29);
	font-family: helvetica, arial, sans-serif;
	text-align: center;
	color: white;
}

input {
	width: 95%;
	max-width: 500px;
	box-sizing: border-box;
	margin: 2em auto 0 auto;
	padding: 0.6em 0.6em;
	border: 0;
	border-radius: 3px;
	font-size: 1em;  
}

audio {
	display: block;
	margin: 0 auto;
	max-width: 600px;
	width: 95%;
}